.store {
  display: flex;
  flex-direction: column;
}

.listOfProducts {
  margin: 0 auto;
  padding-top: 200px;
  display: grid;
  margin-bottom: 200px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 45px;
  column-gap: 30px;
}
